* {
    font-family: 'Nunito Sans Regular';
    letter-spacing: 2px;
    transition: all 1s;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0, 26, 75);
    border-radius: 0px;
    background-color: #313131;
}

::-webkit-scrollbar-thumb {
    background-color: #2f485a17;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 10px rgb(8, 176, 253);
}

body {
    margin: 0;
    overflow: hidden;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    // scroll-snap-type: mandatory;
    // scroll-snap-points-y: repeat(100vh);
    // scroll-snap-type: y mandatory;
    height: 100vh;
}

.container-x {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    z-index: 9999;
}


section {
    scroll-snap-align: start;
    position: relative;
    padding: 5rem;
    height: calc(100vh - 10rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
        width: 75%;
        font-size: 1.4rem;
        text-shadow: 0px 0px 20px#000;
        color: white;
    }

    h1 {
        font-size: 4rem;
        font-weight: 100;
        letter-spacing: 10px;
        animation: bounce 2s ease-in-out infinite;
        transform-origin: bottom left;
        text-shadow: 0px 0px 20px#000;
        color: white;
    }

    &:nth-child(1) {
        background: #212121 url('https://picsum.photos/1920/');
    }

    &:nth-child(2) {
        background: #212121 url('https://picsum.photos/1440/1080/');
    }

    &:nth-child(3) {
        background: #212121 url('https://picsum.photos/1920/1080/');
    }
}

@media(max-width:600px){
    section{
        padding:4rem;
        height: calc(100vh - 8rem);

        p{
            width: 100%;
        }
    }

    .container-x{
        section{
            h1{
                font-size: 2rem;
            }
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(5px);
    }
}

.nav {
    position: fixed;
    top: 5%;
    right: 5%;
    padding: 0 0.8rem;
    font-size: 4rem;
    color: #ffffff;
    background: rgba(88, 88, 88, 0.657);
    border-radius: 100%;
    font-weight: 900;
    z-index: 999;
    cursor: pointer;
    text-shadow: 0 0 6px black;
    box-shadow: 0 0 10px 0px #4f72ef;
    animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 0px #4f72ef;
        transform: translateX(5px);
    }
    
    50% {
        box-shadow: 0 0 10px 0px #323388;
        transform: translateX(0px);
    }
    
    100% {
        box-shadow: 0 0 10px 0px #4f72ef;
        transform: translateX(5px);
    }
}